@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Bubblegum Sans', sans-serif;
}

.jumbotron {
  padding: 2rem 1rem;
  width: 100%;
  height: 32rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  background-image: url('../images/banner.jpeg');
  background-position: center;
  background-size: 100%;
  border-radius: .3rem;
}

.hero-image {
    height: 512px;
    width: 1512px;
    top: 80px;
    object-fit: cover; /* Ensure the image covers the entire area */
}

.hero-overlay {
    color: white;
    left: 100px;
    top: 174px;
    width: 538px;
    height: 222px;
    /* max-width: 50%; */
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a shadow to make text readable */
}

.hero-overlay h1 {
    font-size: 3rem; /* Adjust font size */
}

.hero-overlay p {
    font-size: 1.25rem;
}

.hero-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add dark overlay for readability */
    z-index: 1;
}

.fasilitas {
    position: relative;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: -5rem; /* Sesuaikan untuk menempel ke bawah jumbotron */
    border-radius: 10px; /* Opsional untuk membuat sudut melengkung */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
    z-index: 1; /* Pastikan fasilitas muncul di atas elemen lain */
  }
  
  .fasilitas img {
    border-radius: 8px;
    background-color: #f8f9fa;
  }
  
  .fasilitas p {
    font-size: 16px;
    font-weight: 500;
    color: #333; /* Warna teks */
  }
  
  .jumbotron {
    position: relative; /* Tambahkan ini jika belum ada */
    z-index: 0; /* Pastikan jumbotron di bawah fasilitas */
  }
  
  .visi{
    color: #066930;
  }

  .misi{
    color: #03A923;
  }

  #program-kelas h2 {
    font-weight: bold;
}
#program-kelas ul {
    padding-left: 1rem;
}
#program-kelas .badge {
    font-size: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}
.border-start {
    border-left: 3px dashed #6c757d;
}

#kegiatan-kelas h2 {
  font-weight: bold;
  color: #333;
}
#kegiatan-kelas ul {
  padding-left: 0;
}
#kegiatan-kelas li {
  font-size: 1.2rem;
  color: #555;
}
#kegiatan-kelas i {
  font-size: 1.5rem;
}

.feedback-section {
  padding: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
.banner-section {
  background-color: #28a745;
  color: white;
  border-radius: 10px;
  padding: 30px;
}
.banner-section h3 {
  font-size: 24px;
  font-weight: bold;
}
.banner-section .btn {
  font-weight: bold;
}
